<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.7.0.7" targetFramework="net48" />
  <package id="MACTrackBarLib.dll" version="1.0.2" targetFramework="net48" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net48" />
  <package id="Xamarin.Bin.CircularProgressbar" version="1.0.1" targetFramework="net48" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="net48" />
</packages>